*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 20vh;
    
}